@use '@utils/mixins.scss' as mix ;
.main {
    background-color: rgb(141, 56, 226);
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 180px * 1.5;
    height: 292.5px * 1.5;
    &__output {
        box-sizing: content-box;
        margin: 0;
        padding: 0;
        width: calc(100% - 10px);
        min-height: 55px * 1.5;
        word-wrap: wrap;
        padding-right: 10px;
        text-align: right;
        background: linear-gradient(180deg, rgba(62,63,59,1) 0%, rgba(48,46,36,1) 50%, rgba(49,48,35,1) 100%);
        @include mix.textProp(#fff, 2rem, 500);
        font-family: 'Arial', sans-serif;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__controls-board {
        height: 225px * 1.5;
    }

    &__button-row {
        height: 45px * 1.5;
        width: 100%;
        display: flex;
    }

    &__button {
        flex-basis: 25%;
        height: 100%;
        text-align: center;
        line-height: 45px;
        border: 0.5px solid #453424;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        &.digit-sign {
            background-color: #717372;
            &:active {
                background-color: #ccc;
            }
        }
        &.comma {
            background-color: #717372;
            &:active {
                background-color: #ccc;
            }
        }
        &.calc-sign {
            background-color: #fd9f0b;
            &:active {
                background-color: #555657;
            }
        }
        &.equal {
            background-color: #fd9f0b;
            &:active {
                background-color: #555657;
            }
        }
        &.grey-sign {
            background-color: #555657;
            &:active {
                background-color: rgb(130, 130, 130);
            }
        }
        &.zero {
            flex-basis: 50%;
            border-bottom-left-radius: 10px;
        }

        &.equal {
            border-bottom-right-radius: 10px;
            outline: none;
        }
    }
}

.black {
    border: 1.5px solid black;
}